<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h2>User info</h2>
            
            <table class="table">
                <tr>
                    <td>name</td>
                    <td><%=  %></td>
                </tr>
                <tr>
                    <td>introduction</td>
                    <td><%=  %></td>
                </tr>
            </table>
        </div>

        <div class="offset-md-1 col-md-8">

        </div>
    </div>
</div>